<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
		*{margin: 0;padding:0;}
		li {
			list-style: none;
			}		
		ul {
			width: 400px;
			height: 40px;
			margin: 0 auto;
			display: flex;
			justify-content: space-around;
		}
		input {
			width: 50px;
		}
		p {
			width: 400px;
			margin: 0 auto;
			text-align: right;
		}
	</style>
</head>
<body ng-app='myApp' ng-controller = 'myCtrl'>
	<ul>
		<li>商品</li>
		<li>数量选择</li>
		<li>单价</li>
		<li>小计</li>
	</ul>
	<ul ng-repeat = "item in items">
		<li>{{item.name}}</li>
		<li>
			<input type="button" value="-"  ng-click="reduce($index)"/>
			<input type="number" value="1" ng-model = "varList.itemNum[$index]" ng-change='not($index)' />
			<input type="button" value="+" ng-click='add($index)' />			
		</li>
		<li>
			{{item.price|currency:'￥'}}
		</li>
		<li>
			{{ varList.itemNum[$index] * item.price| number:2 }}
		</li>
	</ul>
	<p>合计:<span>{{varList.total | number:2}}</span></p>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module('myApp' ,[]);
	app.controller('myCtrl' , function($scope) {
		$scope.items = [{
			'name': '鱼香肉丝',
			'price' : 15.12
		},{
			'name': '尖椒肉丝',
			'price' : 14.90
		},{
			'name': '红烧鱼',
			'price' : 188.88
		},{
			'name': '油焖大虾',
			'price' : 99.99
		}];
		var length = $scope.items.length;
		var arr = [];
		for(var i = 0; i<length ;i++) {
			arr[i] = 1;
		}
		$scope.varList = {
			itemNum : arr,
			total :0
		};
        $scope.$watch("varList.itemNum", function() {
            getTotal();
        }, true);
		$scope.reduce = function($index) {
			if($scope.varList.itemNum[$index] == 0) {
				return;
			} else {
				$scope.varList.itemNum[$index] --;
			}
			getTotal($index);
		} ;
		$scope.add = function($index) {
			$scope.varList.itemNum[$index] ++;
			getTotal($index);
		};
		$scope.not = function($index) {
			if( !/^\d*$/.test($scope.varList.itemNum[$index]) || /^0/.test($scope.varList.itemNum[$index]) ) {
				$scope.varList.itemNum[$index] = 1;
			}
			getTotal($index);
		};
		function getTotal($index) {
			$scope.varList.total = 0;
			for(var i = 0; i<length ;i++) {
				$scope.varList.total += $scope.varList.itemNum[i] *
				 $scope.items[i].price;
			}
			return $scope.varList.total;
		}
	});
	</script>
</body>
</html>

